@model Control_Medico_NS.Models.Especialidad

<h3>Especialidad</h3>

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="PubStrDescripcion">Descripción</label>
            <input asp-for="PubStrDescripcion"/>
            <span asp-validation-for="PubStrDescripcion"></span>
        </div>
        <div>
            <input type="submit" value="Guardar"/>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Atrás</a>
</div>