<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Especialidades</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            @*Códigos para mostrar los registros de la BD*@
            <tr>
                <td>Anestesiología</td>
            </tr>
            <tr>
                <td>Cardiología</td>
            </tr>
            <tr>
                <td>Cirugía General</td>
            </tr>
            <tr>
                <td>Cirugía Plástica</td>
            </tr>
            <tr>
                <td>Dermatología</td>
            </tr>
            <tr>
                <td>Gastroenterología</td>
            </tr>
            <tr>
                <td>Ginecología</td>
            </tr>
            <tr>
                <td>Hematología</td>
            </tr>
            <tr>
                <td>Medicina General</td>
            </tr>
            <tr>
                <td>Pediatría</td>
            </tr>
        </tbody>
    </table>
</body>
</html>l