@model IEnumerable<Control_Medico_NS.Models.Especialidad>

    <p>
        <a asp-action="Create">Nuevo</a>
    </p>

    <table>
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(Model => Model.PubStrDescripcion)*@
                    @Html.DisplayName("Descripción")
                </th>
            </tr>
        </thead>
        <tbody>
            @*Códigos para mostrar los registros de la BD*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(ModelItem => item.PubStrDescripcion)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PubIntIdEspecialidad">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.PubIntIdEspecialidad">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    